@charset "UTF-8";

/*ESTILOS PARA IMPRESSÃO*/

*{
    margin:10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none;
    /*significa que nao vai ser exibido. se tiver mais de um menu, tem q identificar com id*/
}

article::after{
    content: "Este artigo foi impresso através do site www.cursoemvideo.com";
}

article{
    width: 100%;
}