@charset "UTF-8";

/*PALETA DE CORES*/

:root {
    --cor001: #fafafa;
    --cor002: #7F43FF;
    --cor003: #c5c2c2;
    --cor004: #000000; 

    --font-principal: Arial, Helvetica, sans-serif; 
    --font-destaque: 'Times New Roman', Times, serif;
}

/*DECLARAÇÕES GERAIS*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--font-principal);
}

h1 {
    font-family: var(--font-destaque);
    text-align: center;
    padding: 10px
}

p {
    padding: 5px 40px 20px 40px ;
    text-align: left;
    font-size: 14px;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#form {
    text-align: center;
    padding-top: 20px;
}

div > input {
    width: 190px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin: 2px;
}

.email{
    background: url('https://api.iconify.design/iconamoon/email.svg?color=%23fafafa') no-repeat left center / contain;
}

.senha{
    background: url('https://api.iconify.design/mdi/lock-outline.svg?color=%23fafafa') no-repeat left center / contain;
}

#iemail{
    align-items: center;
    padding: 3px;
    margin: 4px 1px 4px 40px;
}

#isenha{
    align-items: center;
    padding: 3px;
    margin: 4px 1px 4px 40px;
}

/*DECLARAÇÕES PHONE*/

@media screen and (orientation: portrait) {
    div#img {
        width: 375px;
        height: 250px;
    }
    img{
        width: 375px;
        height: 250px;
        border-radius: 17px 17px 0px 0px ;
    }
    section {
        width: 375px;
        height: 650px;
        border:none;
        border-radius: 20px;
        background-color: var(--cor001);
        color: var(--cor004);
    }
    div.campo {
        background-color: var(--cor002);
        width: 250px;
        height: 40px;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin: 5px;
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .button {
        width: 250px;
        height: 40px;
        margin: 3px;
        border-radius: 5px;
        border: none;
        background-color: var(--cor002);
        color: var(--cor001);
    }
}

/*DECLARAÇÕES DESKTOP*/

@media screen and (orientation: landscape) {
    div#img {
        width: 600px;
        height: 250px;
    }
    img{
        width: 600px;
        height: 250px;
        border-radius: 17px 17px 0px 0px ;
    }
    section {
        width: 600px;
        height: 550px;
        border:none;
        border-radius: 20px;
        background-color: var(--cor001);
        color: var(--cor004);
    }
    div.campo {
        background-color: var(--cor002);
        width: 250px;
        height: 40px;
        text-align: center;
        border-radius: 5px;
        border: none;
        display: inline-block;
        margin: 3px;
        margin-top: 20px;
        margin-bottom: 10px;
        
    }
    .button {
        width: 250px;
        height: 40px;
        margin: 3px;
        border-radius: 5px;
        border: none;
        background-color: var(--cor002);
        color: var(--cor001);
        display: inline-block;
        
    }
}

