@charset "UTF-8";

/*PALETA DE CORES*/

:root {
    --cor001: #fafafa;
    --cor002: #7F43FF;
    --cor003: #c5c2c2;
    --cor004: #000000; 

    --font-principal: Arial, Helvetica, sans-serif; 
    --font-destaque: 'Times New Roman', Times, serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--font-principal);
}

h1 {
    font-family: var(--font-destaque);
    text-align: center;
    padding: 10px 10px 5px 10px;
}

p {
    padding: 5px 40px 20px 40px ;
    text-align: left;
    font-size: 14px;
}


section {
    width: 375px;
    height: 650px;
    border:none;
    border-radius: 20px;
    background-color: var(--cor001);
    color: var(--cor004);
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

div#img {
    width: 375px;
    height: 250px;

}
img{
    width: 375px;
    height: 250px;
    border-radius: 17px 17px 0px 0px ;
}

div#form {
    text-align: center;
    padding-top: 20px;
}

label {
    padding: 5px;
}

.button {
    width: 250px;
    height: 40px;
    margin: 3px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor002);
    color: var(--cor001);
}

div > input {
    width: 190px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin: 2px;
}

div.campo {
    background-color: var(--cor002);
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin: 5px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.email{
    background: url('https://api.iconify.design/iconamoon/email.svg?color=%23fafafa') no-repeat left center / contain;
}

.senha{
    background: url('https://api.iconify.design/mdi/lock-outline.svg?color=%23fafafa') no-repeat left center / contain;
}

#iemail{
    align-items: center;
    padding: 3px;
    margin: 4px 1px 4px 40px;
}

#isenha{
    align-items: center;
    padding: 3px;
    margin: 4px 1px 4px 40px;
}
